.watch-color {
    background-color: #ffd019;
}

.bag-color {
    background-color: #ff589b;
}

.shoes-color {
    background-color: #4289ff;
}

.card-body-bg {
    background-color: #f4f4f4;
}

.touch-section {
    background-color: #fff2f1;
}

.button-color {
    background-color: #ff589b;
}

.primary-bg-color {
    background-color: #feeae9;
}